@font-face {
    src: url("/assets/fonts/IRANSansWeb/IRANSansWeb.eot");
    src: url("/assets/fonts/IRANSansWeb/IRANSansWeb.ttf");
    src: url("/assets/fonts/IRANSansWeb/IRANSansWeb.woff");
    src: url("/assets/fonts/IRANSansWeb/IRANSansWeb.woff2");
    font-family: "iransans";
}


* {
    font-family: "iransans" !important;
}
body{
    direction: rtl !important;
}